@using System.Net
@using System.Text
@inject HttpClient _client
@inject NavigationManager _navigationManager
<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <a href="Identity/Account/Login" @onclick="OnClick">Logout</a>
    </Authorized>
    <NotAuthorized>
        <div style="position: relative">
            <RadzenMenu>
                <RadzenMenuItem Icon="home" Text="Account">
                    <RadzenMenuItem Text="Login" Path="Identity/Account/Login"></RadzenMenuItem>
                    <RadzenMenuItem Text="Register" Path="Identity/Account/Register"></RadzenMenuItem>
                </RadzenMenuItem>
            </RadzenMenu>
        </div>
    </NotAuthorized>
</AuthorizeView>
@code
{
    private async Task OnClick()
    {
        await _client.PostAsync("Identity/Account/LogOut", null);
    }
}
