@using System.Net
@using System.Text
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient _client
@inject NavigationManager _navigationManager
<AuthorizeView>
    <Authorized>
        <RadzenMenu>
            <RadzenMenuItem Icon="account_box" Text="@($"Hello, {context.User.Identity?.Name!}")">
                <RadzenMenuItem Text="Manage" Path="Identity/Account/Manage"></RadzenMenuItem>
                <RadzenMenuItem Click="OnClick" Text="Logout"></RadzenMenuItem>
            </RadzenMenuItem>
        </RadzenMenu>
    </Authorized>
    <NotAuthorized>
        <div style="position: relative">
            <RadzenMenu>
                <RadzenMenuItem Icon="home" Text="Account">
                    <RadzenMenuItem Text="Login" Path="Identity/Account/Login"></RadzenMenuItem>
                    <RadzenMenuItem Text="Register" Path="Identity/Account/Register"></RadzenMenuItem>
                </RadzenMenuItem>
            </RadzenMenu>
        </div>
    </NotAuthorized>
</AuthorizeView>
@code
{
    private async Task OnClick()
    {
        _navigationManager.NavigateToLogout("authentication/logout");
    }
}
