* {
    box-sizing: border-box;
}

.chip {
    display: inline-flex;
    align-items: center;
    gap: var(--rz-chip-gap);
    background-color: var(--rz-chip-background-color);
    color: var(--rz-chip-color);
    border-radius: var(--rz-chip-border-radius);
    padding: 0 10px;
    margin: 5px;
}

    .chip .chip-text {
        font-size: var(--rz-chip-font-size);
    }
