* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 15px;
}
@media only screen and (max-width: 600px) {
    .head {
        display: flex;
        flex-direction: column-reverse;
    }
}
.flex-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.locations-ratings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.ratings, .locations {
    width: 100%;
}

.ratings {
    border-right: 1px solid black;
}

img {
    height: 10em;
    width: 10em;
    border-radius: 50%;
}

hr {
    width: 100%;
}

.review-input {
    height: 6em;
    width: 15em;
}

.review {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0px;
    align-items: start;
    padding-bottom: 30px;
}


.review h1 {
    position: absolute;
    top: 0;
    right: 0;
}
