@page "/"
<PageTitle>RateMyManagement</PageTitle>
<div class="d-flex flex-column align-items-center position-relative">
    <RadzenText TextStyle="TextStyle.H2" TextAlign="TextAlign.Center">Rate My Management</RadzenText>
    <CompanySearch></CompanySearch>
    <RadzenText TextStyle="TextStyle.Body2" Style="margin-top: 15px;">
        Enter a company name to get started or use the navigation to filter companies by starting letter
    </RadzenText>
    <div class="alph-search">
        <Paginiation MetaData="_pagingMetaData" SelectedPage="@OnPageSelected"></Paginiation>
    </div>
    @if (_loading)
    {

        <RadzenCard Style="width: 15em; margin-top: 10px;">
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"/>
        </RadzenCard>
    }
    @foreach (var companyDto in _currentPageCompanies)
    {
        <CompanySearchView CompanyDto="companyDto"></CompanySearchView>
    }
    <AdminDiv>
        <div class="position-fixed bottom-right">
            <RadzenButton Style="Background:red;" Size="ButtonSize.Small" Click="PopulateSite">Populate companies and locations</RadzenButton>
        </div>
    </AdminDiv>
</div>